@import 'src/styles/globals.scss';

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // background-color: $tomato-20-color;
}