@import 'src/styles/globals.scss';

.outer_container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $tomato-20-color;
}

.container {
    width: 100%;
    max-width: 1024px;
    position: relative;
    padding: 110px 60px 150px;

    .title_box {
        display: flex;
        width: fit-content;
        position: relative;
        font-weight: bolder;
        margin-bottom: 30px;
        white-space: pre-line;
        color: $tomato-90-color;

        .title {
            margin: 0;
            z-index: 1;
            font-size: 36px;
        }

        &::after {
            right: 0;
            z-index: 0;
            bottom: 6px;
            content: "";
            height: 8px;
            width: 140px;
            position: absolute;
            border-radius: 24px;
            background-color: $gold-10-color;
        }
    }

    .image_container {
        top: 50%;
        right: 60px;
        width: 250px;
        height: 250px;
        position: absolute;
        transform: translateY(-55%);

        .image {
            &_1 {
                z-index: 1;
                position: absolute;
                transform: rotate(7.5deg);
            }

            &_2 {
                z-index: 1;
                right: 200px;
                bottom: 10px;
                position: absolute;
                transform: rotate(-7.5deg);
            }
        }

        .shadow {
            z-index: 0;
            right: 40px;
            width: 300px;
            height: 30px;
            bottom: -15px;
            position: absolute;
            border-radius: 50%;
            background-color: rgba($color: $primary-color, $alpha: 0.15);
        }
    }

    .button {
        display: flex;
        color: white;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        user-select: none;
        width: fit-content;
        padding: 10px 24px;
        border-radius: 24px;
        transition: filter 0.2s;
        background-color: $tomato-90-color;

        &:hover {
            filter: brightness(1.1);
        }

        &:active {
            filter: brightness(1);
        }
    }

    .banner_container {
        left: 50%;
        display: flex;
        bottom: -70px;
        position: absolute;
        padding: 20px 40px;
        flex-flow: row wrap;
        border-radius: 24px;
        list-style-type: none;
        width: calc(100% - 100px);
        background-color: white;
        transform: translateX(-50%);
        justify-content: space-between;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .item {
            gap: 16px;
            display: flex;
            max-width: 250px;

            .icon {
                height: 50px;
                display: flex;
                min-width: 50px;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: $gold-10-color;
            }

            .title {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .description {
                color: gray;
                font-size: 10px;
                text-transform: capitalize;
            }
        }
    }

    @include tablet() {
        .image_container {
            transform: translateY(-65%);

            .image {
                &_1 {
                    scale: 0.5;
                    right: -50px;
                }

                &_2 {
                    scale: 0.5;
                    right: 65px;
                }
            }

            .shadow {
                right: 20px;
                width: 180px;
                bottom: 40px;
                height: 20px;
            }
        }

        .banner_container {
            gap: 40px;
            bottom: -120px;
        }
    }

    @include mobile() {
        padding: 110px 30px 240px;

        .title_box {
            &::after {
                left: 0;
                right: unset;
            }
        }

        .image_container {
            right: 20px;
            transform: translateY(-35%);
        }

        .banner_container {
            gap: 20px;
            padding: 20px;
            bottom: -160px;
            width: calc(100% - 60px);

            .item {
                gap: 30px;
            }
        }
    }
}